@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="pt-5">
   <h1 class="pt-5 text-uppercase pagina-inicial">Seja bem-vindo ao Sistema da FUP</h1>
    <h2 class="py-3">ACESSE AGORA MESMO O NOSSO SITEMA</h2>
   </div>
    </div>
